{% extends "base.html" %}

{% block title %}Career{% endblock title %}

{% block body %}             



<div style="height:600px"> 
                
    <h1 style=" position: relative ; text-align: center; width: 1300px;margin-top: 70px; ">Grow With Us</h1>
    <h1 style=" position: relative ; margin-top: -30px ;text-align: center; width: 1300px; color: gold; ">________</h1>

    <h1 style=" position: relative ; text-align: center; width: 1300px;margin-top: 70px; ">Currently no job available</h1>


</div>
    
    
    
    
    
    {% endblock body %}

